body {
    font-family: Arial, sans-serif;
    background-color: #1a0933;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.container {
    background-image: linear-gradient(400deg ,#13072e, #3f2182);
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
}
input {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.checkbox-container input {
    margin-right: 10px;
}
button {
    background-color: #ffd700;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #ffea00;
}
@media (max-width: 480px) {
    .container {
        padding: 20px;
    }
}

  
@media only screen and (max-width: 801px) {

  
  }
  
@media only screen and (max-width: 480px) {

  }