* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #13072e;
    color: #ffffff;
    scroll-behavior: smooth; /* Rolagem suave */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
}
.enter-btn {
    background-color: #ffd700;
    color: #1a0b2e;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 100px;
    background-image: linear-gradient(400deg ,#13072e, #3f2182);
    border-radius: 50px;
}
.text-content {
    flex: 1;
    padding-right: 50px;
}
.tag {
    background-color: #ffd700;
    color: #1a0b2e;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 20px;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.image-content {
    flex: 1;
    text-align: right;
}
.image-content img {
    max-width: 100%;
    height: auto;
}

.image-container {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/images/financeiro.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50px;
    clip-path: polygon(17% 0, 73% 0, 100% 28%, 99% 100%, 38% 100%, 0 44%);
}

header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    z-index: 1;

  }
  
  header ul {
    list-style: none;
  }
  
  header ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header ul li a {
    color: white;
    text-decoration: none;
    
    background-image: linear-gradient(46deg ,#13072e, #3f2182);
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .section1 {
    height: 100vh; /* Altura da tela inteira */
    display: flex;
    justify-content: center;
  }

  .section2, .section3 {
    height: 100vh; /* Altura da tela inteira */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section3{
    flex-direction: column;
  }

  .content {
    background-image: linear-gradient(400deg ,#13072e, #3f2182);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}
p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}
.logo {
    font-size: 1.5em;
    color: #8a7b9d;
}
.slogan {
    font-style: italic;
    color: #8a7b9d;
}

h1 {
    font-size: 48px;
    margin-top: 50px;
}
.testimonials {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.testimonial {
    background-image: linear-gradient(400deg ,#13072e, #3f2182);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}
.stars {
    color: #ffd700;
}
.user {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-info {
    font-size: 14px;
}
.user-info .name {
    font-weight: bold;
}

/* Estilos para o menu no desktop */
nav ul {
    display: flex;
    gap: 20px;
}

/* Esconder o menu no celular */
.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-menu.open {
    display: flex;
}

/* Ícone de menu hambúrguer */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .section3{
        display: none;
    }
    nav ul {
        display: none;
    }

    .logo img{
        display: none;
    }
    .menuSuperior{
        display: none;
    }
}

  
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
    .text-content {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .image-content {
        text-align: center;
    }
}

@media screen and (max-width: 1360px){


}

@media screen and (max-width: 1050px){

}


@media screen and (max-width: 1000px){

}

@media screen and (max-width: 900px){

}

@media only screen and (max-width: 801px) {

}

@media only screen and (max-width: 480px) {

    .main-content {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

  

  
  