<!DOCTYPE html>
<html lang="pt-br" style="height: 100vh;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/js.js"></script>
    
    <title>FICON</title>
</head>
<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user" class="userClass">
                <img src="/images/user.jpg" id="user_avatar" alt="Avatar">
    
                <p id="user_infos">
                    <span class="item-description">
                        {{nomeUsuario}}
                    </span>
                </p>
            </div>
    
            <ul id="side_items">
    
                <li class="side-item" onclick="window.location.href='/home'">
                    <i class="fa-solid fa-house" style="color: white;"></i>
                    <span class="item-description">
                        Home
                    </span>
                </li>
                <li class="side-item" onclick="window.location.href='/metas'">
                    <i class="fa-solid fa-receipt" style="color: white;"></i>
                    <span class="item-description">
                        Metas
                    </span>
                </li>
                <li class="side-item" onclick="window.location.href='/dashboard'">
                    <i class="fa-solid fa-chart-line" style="color: white;"></i>
                    <span class="item-description">
                        Dashboard
                    </span>
                </li>
                <li class="side-item" onclick="window.location.href='/conta'">
                    <i class="fa-solid fa-user" style="color: white;"></i>
                    <span class="item-description">
                        Conta
                    </span>
                </li>
    
            </ul>
    
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right" ></i>
            </button>
        </div>

        <div id="logout">
            <a href="/logout" style="text-decoration: none;">
                <i class="fa-solid fa-right-from-bracket" style="color: white;"></i>
                <span class="item-description">
                    Logout
                </span>
            </a>
        </div>
    </nav>

    <main>

        {% block body %}

        {% endblock %}
    </main>

    <script src="src/javascript/script.js"></script>
</body>
<script>
// Adicionar evento para abrir/fechar o sidebar
document.getElementById('open_btn').addEventListener('click', function () {
    document.getElementById('sidebar').classList.toggle('open-sidebar');
    user = document.getElementById('user').classList.toggle('user-open');;
    
});

// Verifica a URL atual e adiciona a classe 'active' no item correspondente
const currentPath = window.location.pathname; // Obtém o caminho atual da URL
const menuItems = document.querySelectorAll('#side_items .side-item'); // Seleciona todos os itens do menu
const user = document.getElementById('user');

menuItems.forEach(item => {
    const itemPath = item.getAttribute('onclick').match(/'([^']+)'/)[1]; // Extrai o link do onclick
    if (itemPath === currentPath) {
        item.classList.add('active'); // Adiciona a classe 'active' no item correspondente
    } else {
        item.classList.remove('active'); // Remove a classe 'active' dos outros itens
    }
});



const sidebar = document.getElementById('sidebar');
const openBtn = document.getElementById('open_btn');

openBtn.addEventListener('click', () => {
    sidebar.classList.toggle('open');
    openBtn.classList.toggle('open'); // Adiciona a classe para o botão também
});
</script>
</html>