{% extends 'base.html' %}

{% block body %}
<h2>Olá, {{ nomeUsuario }}! Confira seu dashboard:</h2>
<div class="dashboard">
    <div class="cards">
        <div class="card" style="background-color: #d4f8d4;">
            <h3>Total de ganhos valor bruto</h3>
            <h1>{{ total_ganhos_bruto }}</h1>
        </div>
        <div class="card" style="background-color: #f4f8d4;">
            <h3>Total de ganhos valor líquido</h3>
            <h1>{{ total_ganhos_liquido }}</h1>
        </div>
        <div class="card" style="background-color: #f8d4d4;">
            <h3>Gastos</h3>
            <h1>{{ total_gastos }}</h1>
        </div>
    </div>
    <div class="charts">
        <div class="chart-container barra">
            <h3>Total de corridas mensais</h3>
            <canvas id="barChart"></canvas>
        </div>
        <div class="chart-container pizza">
            <h3>Gastos</h3>
            <canvas id="pieChart"></canvas>
        </div>
    </div>
</div>

<style>
    @media (max-width: 768px) {
        .charts{
            flex-direction: column !important;
        }
        .cards{
            flex-direction: column;
        }
        .pizza{
            width: 100% !important;
        }
        .barra{
            width: 100% !important;
        }
    }
    .dashboard {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin: 0;
        padding: 0;
    }
    
    .cards {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .card {
        flex: 1;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .card h1, .card h3, .card p {
        color: black;
    }
    
    .chart-container {
        background-color: #252525;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        width: 50%

    }
    .pizza{
        width: 30%;
    }
    .barra{
        width: 65%;
    }
    .charts{
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 400px;
    }
</style>

<script>
    const barCtx = document.getElementById('barChart').getContext('2d');
    const pieCtx = document.getElementById('pieChart').getContext('2d');

    // Gráfico de Barras (Corridas Mensais)
    new Chart(barCtx, {
        type: 'bar',
        data: {
            labels: ['JAN', 'FEV', 'MAR', 'ABR', 'MAI', 'JUN', 'JUL', 'AGO', 'SET', 'OUT', 'NOV', 'DEZ'],
            datasets: [{
                label: 'Corridas Mensais',
                data: {{ corridas_mensais | tojson }},
                backgroundColor: 'rgba(54, 162, 235, 0.7)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                backgroundColor: '#252525'  // Cor de fundo do gráfico
            }
        }
    });

    // Gráfico de Pizza (Distribuição de Categorias)
    new Chart(pieCtx, {
        type: 'doughnut',
        data: {
            labels: ['Abastecimento', 'Manutenção'],
            datasets: [{
                data: [
                    {{ categoria_valores['abastecimento'] }},
                    {{ categoria_valores['manutencao'] }}
                ],
                backgroundColor: ['#ff6384', '#ffcd56']
            }]
        },
        options: {
            responsive: true,
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            let value = context.raw;
                            return `R$ ${value.toFixed(2)}`; // Exibe com 2 casas decimais
                        }
                    }
                },
                backgroundColor: '#252525'  // Cor de fundo do gráfico
            }
        }
    });
</script>
{% endblock %}
