{% extends 'base.html' %}

{% block body %}
<h2>Olá!, {{ nomeUsuario }}!</h2>

<div class="divMestre">
    <div class="metade1" id="metade1">
        <div class="duasDiv">
            <div class="situacaoAtual"><span class="situacaoAtualText">Situação atual:</span> <span class="green">Você está indo bem!</span></div>
            <div class="ultimaCorrida"><span class="ultimaCorridaText">Última corrida:</span> <b>19/11/2024 às 15:13</b></div>
        </div>
        
        <div class="ultimosLancamentos">
            <span class="ultimosLancamentosText">Últimos lançamentos</span>

            <!-- Tabela adicionada -->
            <table class="tabelaLancamentos">
                <thead>
                    <tr>
                        <th>Serviço</th>
                        <th>Pagamento</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lanche</td>
                        <td>Crédito</td>
                        <td class="red">- R$ 20,00</td>
                    </tr>
                    <tr>
                        <td>Pedágio</td>
                        <td>Dinheiro</td>
                        <td class="red">- R$ 10,00</td>
                    </tr>
                    <tr>
                        <td>Gasolina</td>
                        <td>Débito</td>
                        <td class="red">- R$ 50,00</td>
                    </tr>
                    <tr>
                        <td>Corrida</td>
                        <td>PIX</td>
                        <td class="green">+ R$ 25,00</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="historicoKM">
            <span class="historicoKMText">Histórico de KM</span>
            <div class="historicoKMContainer">
                <div class="kmItem">
                    <div class="kmCircle">3 KM</div>
                    <div class="kmValue green">+ R$ 11,00</div>
                </div>
                <div class="kmItem">
                    <div class="kmCircle">9 KM</div>
                    <div class="kmValue green">+ R$ 32,00</div>
                </div>
                <div class="kmItem">
                    <div class="kmCircle">2 KM</div>
                    <div class="kmValue green">+ R$ 8,00</div>
                </div>
                <div class="kmItem">
                    <div class="kmCircle">7 KM</div>
                    <div class="kmValue green">+ R$ 24,00</div>
                </div>
                <div class="kmItem">
                    <div class="kmCircle">3 KM</div>
                    <div class="kmValue green">+ R$ 12,00</div>
                </div>
            </div>

        </div>


    </div>
    
    <div class="metade2">
        <div class="saldo">
            <div class="valor">
                <span>Saldo:</span>
                <div class="valorSaldo" id="valorSaldo">R$200,00</div>
                <div class="valorSaldoEscondido" id="valorSaldoEscondido">*****</div>
            </div>
            <div class="opcoes">
                <span class="eye-icon" id="eyeIcon"><i class="fa-regular fa-eye" style="color: #ffffff;"></i></span>
            </div>
        </div>
    </div>
</div>

<script>
    let mostrarSaldo = true;
    const valorSaldo = document.getElementById('valorSaldo');
    const valorSaldoEscondido = document.getElementById('valorSaldoEscondido');
    const eyeIcon = document.getElementById('eyeIcon');

    eyeIcon.addEventListener('click', () => {
        mostrarSaldo = !mostrarSaldo;
        if (mostrarSaldo) {
            valorSaldoEscondido.style.display = 'none';
            valorSaldo.style.display = 'block';
            eyeIcon.innerHTML = `<i class="fa-regular fa-eye" style="color: #ffffff;"></i>`;
        } else {
            valorSaldoEscondido.style.display = 'block';
            valorSaldo.style.display = 'none';
            eyeIcon.innerHTML = `<i class="fa-regular fa-eye-slash" style="color: #ffffff;"></i>`;
        }
    });

    const content = document.getElementById('metade1');
    const toggleButton = document.getElementById('open_btn');

    toggleButton.addEventListener('click', () => {
        content.classList.toggle('sidebar-open');
    });


</script>

<style>

</style>

{% endblock %}
