{% extends 'base.html' %}

{% block body %}
<h2>Olá!, {{ nomeUsuario }}! Bem vindo!</h2>

<div class="divMestre">
    <div class="metade1" id="metade1">
        <div class="duasDiv">
            <div class="situacaoAtual">
                <span class="situacaoAtualText">Situação atual:</span>
                <span class="{{ situacao_atual.cor }}">{{ situacao_atual.mensagem }}</span>
            </div>
            
            <div class="ultimaCorrida">
                <span class="ultimaCorridaText">Última corrida:</span>
                <b>{{ ultima_corrida }}</b>
            </div>
        </div>
        
        <div class="ultimosLancamentos">
            <div class="divLancamentos">
                <span class="ultimosLancamentosText">Últimos lançamentos</span>
                <button class="button-inserir" onclick="window.location.href='/insercao'">
                    <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                        Inserir
                </button>
            </div>
            

            <!-- Tabela adicionada -->
            <table class="tabelaLancamentos">
                <thead>
                    <tr>
                        <th>Serviço</th>
                        <th>Detalhes</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lancamento in ultimos_lancamentos %}
                    <tr>
                        <td>{{ lancamento.servico }}</td>
                        <td>{{ lancamento.detalhes }}</td>
                        <td class="{{ lancamento.cor }}">
                            {{ '+ R$' if lancamento.cor == 'green' else '- R$' if lancamento.cor == 'red' else 'R$' }}{{ abs(lancamento.valor) }}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="historicoKM">
            <div class="divLancamentos">
                <span class="historicoKMText">Histórico de KM</span>
                <button class="button-inserir" onclick="window.location.href='/insercao'">
                    <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                        Inserir
                </button>
            </div>
            
            <div class="historicoKMContainer">
                {% for km in historico_km %}
                <div class="kmItem">
                    <div class="kmCircle">{{ km.km }} KM</div>
                    <div class="kmValue green">+ R$ {{ km.valor }}</div>
                </div>
                {% endfor %}
            </div>

        </div>


    </div>
    
    <div class="metade2">
        <div class="saldo">
            <div class="valor">
                <span>Saldo:</span>
                <div class="valorSaldo" id="valorSaldo">R${{ saldo_atual }}</div>
                <div class="valorSaldoEscondido" id="valorSaldoEscondido">*****</div>
            </div>
            <div class="opcoes">
                <span class="eye-icon" id="eyeIcon"><i class="fa-regular fa-eye" style="color: #ffffff;"></i></span>
            </div>
        </div>
    </div>
</div>

<script>
    let mostrarSaldo = true;
    const valorSaldo = document.getElementById('valorSaldo');
    const valorSaldoEscondido = document.getElementById('valorSaldoEscondido');
    const eyeIcon = document.getElementById('eyeIcon');

    eyeIcon.addEventListener('click', () => {
        mostrarSaldo = !mostrarSaldo;
        if (mostrarSaldo) {
            valorSaldoEscondido.style.display = 'none';
            valorSaldo.style.display = 'block';
            eyeIcon.innerHTML = `<i class="fa-regular fa-eye" style="color: #ffffff;"></i>`;
        } else {
            valorSaldoEscondido.style.display = 'block';
            valorSaldo.style.display = 'none';
            eyeIcon.innerHTML = `<i class="fa-regular fa-eye-slash" style="color: #ffffff;"></i>`;
        }
    });

    const content = document.getElementById('metade1');
    const toggleButton = document.getElementById('open_btn');

    toggleButton.addEventListener('click', () => {
        content.classList.toggle('sidebar-open');
    });


</script>

<style>

</style>

{% endblock %}
