<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo!</title>
    <link rel="stylesheet" type="text/css" href="/css/landingPage.css" />
    <script src="https://kit.fontawesome.com/30e321151d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/images/financeiro.jpg" alt="Logo" width="40" height="40">
                NOME DO APP
            </div>
            <button class="enter-btn"><a style="text-decoration: none;" href="/login">ENTRAR <i class="fa-solid fa-right-to-bracket" style="color: #1a0b2e;"></i></a></button>
        </header>
        <main class="main-content">
            <div class="text-content">
                <span class="tag">#Soluçãofinanceira</span>
                <h1>Bem-vindo ao [Nome do App]</h1>
                <p>Gerenciar suas finanças é essencial para o sucesso como motorista de aplicativo. Com o [Nome do App], você tem ferramentas fáceis para acompanhar receitas e despesas, otimizar seus ganhos e planejar seu futuro financeiro com mais segurança.</p>
                <p>Entre e descubra como simplificar sua gestão financeira!</p>
            </div>
            <div class="image-container"></div>
        </main>
    </div>
</body>
</html>
