<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
    <div class="page-container">
        <div class="circle"></div>
        <div class="login-content">
			<form action="/login" method="post">
				<h2 class="title">BEM VINDO</h2>
                <br>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text" class="input" name='email' placeholder="E-mail" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input type="password" class="input" name='password' placeholder="Senha" required>
            	   </div>
            	</div>

            	<input type="submit" class="btn" value="Login">
                <p class="create-account">Não tem uma conta? <a href="/cadastro">CRIAR CONTA</a></p>
            </form>
            
        </div>
    </div>
</body>
</html>
