{% extends 'base.html' %}

{% block body %}
<h2>{{ nomeUsuario }}, essas são suas metas:</h2>
<div class="containerMetas">
    <button class="btnMeta" onclick="toggleAddMeta()">Adicionar Meta</button>
    <div id="addMetaForm" style="display: none;">
        <form action="/add-meta" method="POST">
            <input type="text" name="descricao" placeholder="Descrição da meta" required>
            <button class="btnMeta" type="submit">Salvar Meta</button>
        </form>
    </div>

    <h2>Metas Diárias</h2>
    <ul class="ulMeta">
        {% for meta in metas %}
            <li class="liMeta">
                <form action="/update-meta/{{ meta.idmeta }}" method="POST">
                    <label style="display: flex;">
                        <div class="checkbox-wrapper-19">
                            <input type="checkbox" id="cbtest-{{ meta.idmeta }}" name="concluida" onclick="toggleChecked(this)" onchange="this.form.submit()" {% if meta.concluida == 1 %}checked{% endif %}/>
                            <label for="cbtest-{{ meta.idmeta }}" class="check-box"></label>
                            
                            
                          </div>
                          {{ meta.descricao }}
                        
                    </label>
                </form>
                <form action="/delete-meta/{{ meta.idmeta }}" method="POST" style="display:inline;">
                    <button class="btnMeta" type="submit">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <div class="porcentagem-concluida">
        <p>Porcentagem de metas concluídas: {{ porcentagem }}%</p>
    </div>
</div>

<script>
function toggleAddMeta() {
    var form = document.getElementById('addMetaForm');
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
}
</script>
{% endblock %}
