{% extends 'base.html' %}

{% block body %}
<h2>Olá!, {{ nomeUsuario }}! Essas são suas metas:</h2>
<div class="containerMetas">
    <button class="btnMeta" onclick="toggleAddMeta()">Adicionar Meta</button>
    <div id="addMetaForm" style="display: none;">
        <form action="/add-meta" method="POST">
            <input type="text" name="descricao" placeholder="Descrição da meta" required>
            <button class="btnMeta" type="submit">Salvar Meta</button>
        </form>
    </div>

    <h2>Metas Diárias</h2>
    <ul class="ulMeta">
        {% for meta in metas %}
            <li class="liMeta">
                <form action="/update-meta/{{ meta.idmeta }}" method="POST">
                    <label style="display: flex;">
                        <div class="checkbox-wrapper-19">
                            <input type="checkbox" id="cbtest-{{ meta.idmeta }}" name="concluida" onclick="toggleChecked(this)" onchange="this.form.submit()" {% if meta.concluida == 1 %}checked{% endif %}/>
                            <label for="cbtest-{{ meta.idmeta }}" class="check-box"></label>
                            
                            
                          </div>
                          {{ meta.descricao }}
                        
                    </label>
                </form>
                <form action="/delete-meta/{{ meta.idmeta }}" method="POST" style="display:inline;">
                    <button class="btnMeta" type="submit">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <div class="porcentagem-concluida">
        <p>Porcentagem de metas concluídas: {{ porcentagem }}%</p>
    </div>
</div>

<script>
function toggleAddMeta() {
    var form = document.getElementById('addMetaForm');
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
}
</script>
<style>
    
    .containerMetas {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .btnMeta {
        background-color: #6a0dad;
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
        margin: 10px 0;
    }
    
    .btnMeta:hover {
        background-color: #551a8b;
    }
    
    .ulMeta {
        list-style-type: none;
        padding: 0;
    }
    
    .liMeta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #2e2e2e;
        margin: 5px 0;
        border-radius: 5px;
    }
    
    input[type="text"] {
        padding: 8px;
        margin-right: 10px;
    }
    
    input[type="checkbox"] {
        margin-right: 10px;
    }
    
    .porcentagem-concluida {
        margin-top: 20px;
        font-weight: bold;
    }



        .checkbox-wrapper-19 {
          box-sizing: border-box;
          --checkbox-height: 25px;
        }
      
        @-moz-keyframes dothabottomcheck-19 {
          0% {
            height: 0;
          }
          100% {
            height: calc(var(--checkbox-height) / 2);
          }
        }
      
        @-webkit-keyframes dothabottomcheck-19 {
          0% {
            height: 0;
          }
          100% {
            height: calc(var(--checkbox-height) / 2);
          }
        }
      
        @keyframes dothabottomcheck-19 {
          0% {
            height: 0;
          }
          100% {
            height: calc(var(--checkbox-height) / 2);
          }
        }
      
        @keyframes dothatopcheck-19 {
          0% {
            height: 0;
          }
          50% {
            height: 0;
          }
          100% {
            height: calc(var(--checkbox-height) * 1.2);
          }
        }
      
        @-webkit-keyframes dothatopcheck-19 {
          0% {
            height: 0;
          }
          50% {
            height: 0;
          }
          100% {
            height: calc(var(--checkbox-height) * 1.2);
          }
        }
      
        @-moz-keyframes dothatopcheck-19 {
          0% {
            height: 0;
          }
          50% {
            height: 0;
          }
          100% {
            height: calc(var(--checkbox-height) * 1.2);
          }
        }
      
        .checkbox-wrapper-19 input[type=checkbox] {
          display: none;
        }
        .checkbox-wrapper-19{
            margin-right: 20px;
        }
      
        .checkbox-wrapper-19 .check-box {
          height: var(--checkbox-height);
          width: var(--checkbox-height);
          background-color: transparent;
          border: calc(var(--checkbox-height) * .1) solid #000;
          border-radius: 5px;
          position: relative;
          display: inline-block;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -moz-transition: border-color ease 0.2s;
          -o-transition: border-color ease 0.2s;
          -webkit-transition: border-color ease 0.2s;
          transition: border-color ease 0.2s;
          cursor: pointer;
        }
        .checkbox-wrapper-19 .check-box::before,
        .checkbox-wrapper-19 .check-box::after {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          position: absolute;
          height: 0;
          width: calc(var(--checkbox-height) * .2);
          background-color: #34b93d;
          display: inline-block;
          -moz-transform-origin: left top;
          -ms-transform-origin: left top;
          -o-transform-origin: left top;
          -webkit-transform-origin: left top;
          transform-origin: left top;
          border-radius: 5px;
          content: " ";
          -webkit-transition: opacity ease 0.5;
          -moz-transition: opacity ease 0.5;
          transition: opacity ease 0.5;
        }
        .checkbox-wrapper-19 .check-box::before {
          top: calc(var(--checkbox-height) * .72);
          left: calc(var(--checkbox-height) * .41);
          box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
          -moz-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
        .checkbox-wrapper-19 .check-box::after {
          top: calc(var(--checkbox-height) * .37);
          left: calc(var(--checkbox-height) * .05);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      
        .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
        .checkbox-wrapper-19 .check-box.checked {
          border-color: #34b93d;
        }
        .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
        .checkbox-wrapper-19 .check-box.checked::after {
          height: calc(var(--checkbox-height) / 2);
          -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
          -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
          -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
          animation: dothabottomcheck-19 0.2s ease 0s forwards;
        }
        .checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
        .checkbox-wrapper-19 .check-box.checked::before {
          height: calc(var(--checkbox-height) * 1.2);
          -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
          -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
          -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
          animation: dothatopcheck-19 0.4s ease 0s forwards;
        }
      
    
</style>
{% endblock %}
